<main class="main">

  <!-- Hero Section -->
  <app-hero />
  <!-- /Hero Section -->

  <!-- About Section -->
  <app-about />
  <!-- /About Section -->

  <!-- Cards Section -->
  <app-cards />
  <!-- /Cards Section -->

  <!-- Clients Section -->
  <!-- <app-clients  /> -->
  <!-- /Clients Section -->

  <!-- Services Section -->
  <app-services />
  <!-- /Services Section -->

  <!-- Call To Action Section -->
  <app-calltoaction />
  <!-- /Call To Action Section -->

  <!-- Portfolio Section -->
  <!-- <app-portfolio /> -->
  <!-- /Portfolio Section -->

  <!-- Pricing Section -->
  <app-pricing />
  <!-- /Pricing Section -->

  <!-- Team Section -->
  <app-team />
  <!-- /Team Section -->

  <!-- Contact Section -->
  <app-contact />
  <!-- /Contact Section -->

</main>