/* You can add global styles to this file, and also import other style files */
.featured .pricing-item .price-title {
  color: White;
  margin: 10px;
  margin-left: 0;

}

.pricing-item .price-title {
  color: rgb(39, 28, 28);
  margin: 10px;
  margin-left: 0;

}

.featured hr {
  color: black;
}

.featured .pricing .sub-title {
  color: rgb(255 255 255);
  font-family: 'Open Sans';
  font-style: italic;
  font-size: 14px;
}

.pricing .sub-title {
  color: #0000009e;
  font-family: 'Open Sans';
  font-style: italic;
  font-size: 14px;
}